body {
    
    margin:0;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:'Lato', sans-serif;
    background-color:#273c75;
}

.container {
    width:30vmax;
    height:30vmax;
    background-color:ivory;
    position:relative;
    display:flex;
}

.circle1 {
    width:20vmax;
    height:20vmax;
    /* background-color:pink; */
    border-radius:50%;
    border-top:5px solid blue;
    border-bottom:5px solid blue;
    border-right:5px solid transparent;
    border-left:5px solid transparent;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(0deg);
    animation: clockwise 3s linear infinite;
    }

.circle2 {
    width:15vmax;
    height:15vmax;
    /* background-color:rgb(202, 157, 165); */
    border-radius:50%;
    border-top:5px solid blue;
    border-bottom:5px solid blue;
    border-right:5px solid transparent;
    border-left:5px solid transparent;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(0deg);
    animation: counterclockwise 2s linear infinite;
}

.circle3 {
    width:10vmax;
    height:10vmax;
    /* background-color:rgb(172, 105, 118); */
    border-radius:50%;
    border-top:5px solid blue;
    border-bottom:5px solid blue;
    border-right:5px solid transparent;
    border-left:5px solid transparent;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(0deg);
    animation: clockwise 3s linear infinite;
}

.circle4 {
    width:5vmax;
    height:5vmax;
    /* background-color:rgb(128, 61, 74); */
    border-radius:50%;
    border-top:5px solid blue;
    border-bottom:5px solid blue;
    border-right:5px solid transparent;
    border-left:5px solid transparent;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(0deg);
    animation: counterclockwise 2s linear infinite;
}

.circle5 {
    width:2.5vmax;
    height:2.5vmax;
    background-color:red;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}



@keyframes clockwise {
    0% { transform:translate(-50%, -50%) rotate(0deg); }
    100% { transform:translate(-50%, -50%) rotate(720deg); }
}

@keyframes counterclockwise {
    0% { transform:translate(-50%, -50%) rotate(0deg); }
    100% { transform:translate(-50%, -50%) rotate(-720deg); }
}